{% extends 'quotesapp/base.html' %}

{% block content %}

<a class="nav-link" href="{% url 'quotesapp:load_data' %}">Load data</a>
{% for qt in quotes %}
<div class="card" style="width: 800px">
    <div class="card-body">
        <p class="card-text">{{qt.quote}}</p>
        <p> by <a href="{% url 'quotesapp:show_author' qt.author.id %}" class="card-link">{{qt.author.fullname}}</a></p>
        <p>Tags: {% for tag in qt.tags %}<a href="#"
                                            class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{tag}}</a>
            {% endfor %}</p>
    </div>
</div>
{% endfor %}

{% endblock %}